$tablet: 1025px;
$phone: 500px;

@media (max-width: $tablet) {
  #about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #videos {
    .videos {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
      justify-items: center;
    }
  }

  .container {
    padding: 0;
  }
}

@media (max-width: $phone) {
  .navbar {
    .flex-wrap {
      justify-content: center;
      align-items: center;
    }
    .list-group {
      display: none;
    }
  }

  .showcase {
    &-content {
      .heading {
        margin: 1rem 0;
      }
    }
  }

  #videos {
    .videos {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
      justify-items: center;
    }
  }

  iframe,
  object,
  embed {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 315px;
  }

  .heading {
    font-size: 4rem;
    font-weight: bold;
  }

  .lead {
    font-size: 3rem;
  }

  .heading-2 {
    font-size: 2.5rem;
  }

  .lead-2 {
    font-size: 1.5rem;
  }

  #about {
    .lead-2 {
      padding: 0 2rem;
    }
  }

  #footer {
    .flex-wrap {
      flex-wrap: wrap-reverse;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
